@import url('https://fonts.googleapis.com/css2?family=Open+Sans:wght@300;400;700&family=Righteous&family=Work+Sans:wght@100;300;400;600;800&display=swap');
$font-stack:'Righteous', sans-serif;

$base-font-size: 80px 0;
$base-top:20px;
$padding-top:50px;

