@import './colors';
@import './typography';
@import './mixins';
@import './responsive';



/* ===== SOCIAL ICONS ===== */
.social_icons {
    position: relative;
    display: flex;
    flex-direction: column;
    justify-content: center;
    margin-right: 30px;
    border-radius: 50px;
    background: var(--icons-bg);
  }
  
  .icon {
    display: flex;
    align-items: center;
    justify-content: center;
    width: 40px;
    height: 40px;
    margin-block: 5px;
    color: var(--second-color);
    cursor: pointer;
    z-index: 1;
  }
  
  .icon:nth-child(2) {
    margin-top: 0;
  }
  
  .icon:last-child {
    margin-bottom: 0;
  }
  
  .icon:hover {
    color: var(--orange-color);
  }
  
  .icon_circle {
    position: absolute;
    top: 20px;
    left: 20px;
    transform: translate(-50%, -50%);
    width: 40px;
    height: 40px;
    border: 2px solid var(--blue-color);
    border-radius: 50%;
    animation: iconSlide 8s ease 1s infinite alternate;
  }
  
  @keyframes iconSlide {
    25% {
      border: 2px solid var(--blue-color);
      top: 20px;
    }
    50% {
      border: 2px solid #C40101;
      top: 70px;
    }
    75% {
      border: 2px solid var(--second-color);
      top: 115px;
    }
    100% {
      border: 2px solid var(--orange-color);
      top: 160px;
    }
  }
  
  /* ===== Paused when the user hover on any icon ===== */
  .social_icons:hover .icon_circle {
    animation-play-state: paused;
  }
  
  /* ===== Hero Text ===== */
  .hero_box {
    display: flex;
    flex-direction: column;
  }
  
  .hero_box .hello {
    font-size: 25px;
    font-weight: 500;
    margin-bottom: 10px;
  }
  
  .hero_box .job {
    font-size: 45px;
    font-weight: 700;
    color: var(--second-color);
    margin-bottom: 10px;
  }
  
  .hero_box .hero_btn {
    margin-top: 30px;
  }
  
  .hero_box button {
    padding: 10px 20px;
    border-radius: 5px;
    border: none;
    cursor: pointer;
  }
  
  .btn_1 {
    background: var(--orange-color);
    color: var(--first_color);
    box-shadow: 0px 0px 5px 1px rgba(0, 0, 0, 0.1);
  }
  
  .btn_2 {
    margin-left: 1vw;
    background: var(--first_color);
    box-shadow: 0px 0px 5px 1px rgba(0, 0, 0, 0.1);
  }
  
  .btn_2 a {
    text-decoration: none;
    color: var(--black_color);
  }
  
  /* ===== HERO IMAGE BOX ===== */
  .col-2 {
    position: relative;
  }
  
  .circle img {
    position: absolute;
    right: 0;
    bottom: 0;
    width: 590px;
    animation: circleZoom 5s infinite;
  }
  
  @keyframes circleZoom {
    50% {
      width: 600px;
    }
  }
  
  .hero-image {
    z-index: 50;
  }
  
  .hero-image img {
    position: absolute;
    right: 250px;
    bottom: 0;
    width: 350px;
  }
  









@keyframes slideIn {
    from {
        transform: translateX(-100%);
    }

    to {
        transform: translateX(0%);
    }
}
p {
    font-size: 20 rem;
    margin: 10px 0;
    line-height: 1.9em;
    color: rgb(46, 28, 28);
}


.developer-info {
    font-family: Arial, sans-serif;
    background-color: rgb(33, 33, 33);
    /* Gris oscuro */
    padding: 20px;
    margin: 60px;
    border-radius: 15px;
    /* Bordes redondeados */
    box-shadow: 0 8px 16px rgba(0, 0, 0, 0.3);
    /* Sombra más pronunciada */
    margin-bottom: 40px;
    animation: slideIn 5s ease forwards;
}

.developer-info h6 {
    font-size: 1.5rem;
    font-weight: 400;
    line-height: 1.5;
    color: #fff;
    /* Texto blanco para mayor contraste */
    margin: 10px 0 0;
    padding: 10px;
    border-left: 4px solid #fff;
    /* Borde izquierdo blanco */
    background-color: rgb(77, 77, 77);
    /* Gris más claro */
}

.developer-info .contact-button {
    display: inline-block;
    padding: 8px 16px;
    background-color: rgb(128, 0, 0);
    /* Rojo oscuro */
    color: #fff;
    text-decoration: none;
    border-radius: 5px;
    transition: background-color 0.3s ease;
}

.developer-info .contact-button:hover {
    background-color: rgb(102, 0, 0);
    /* Rojo aún más oscuro al pasar el ratón */
}





// Definir la variable para el color nero
$nero: #000000;

// Estilos para el formulario
#form {
    .form-group {
        label {
            color: $nero; // Color del texto de la etiqueta
        }

        input[type="text"] {
            color: $nero; // Color del texto del input
            background-color: #ffffff; // Fondo blanco
            border: 1px solid $nero; // Borde negro


        }
    }

    #button {
        background-color: $nero; // Fondo negro
        color: #ffffff; // Color del texto blanco
        border: 1px solid $nero; // Borde negro

        // Puedes agregar estilos adicionales según sea necesario
    }
}




// Define tus variables de color para el modo claro
$color-light-background: #ffffff;
$color-light-text: #525151;

// Define tus variables de color para el modo oscuro
$color-dark-background: rgb(223, 215, 215);
$color-dark-text: black;

// Estilos generales
body {
    background-color: $color-light-background;
    color: $color-light-text;
    transition: background-color 0.3s, color 0.3s; // Agregar transición suave
}

// Estilos específicos para el modo oscuro
.dark-mode {
    background-color: $color-dark-background;
    color: $color-dark-text;

}















/* ===== NAVIGATION BAR ==== */
.nav {
    position: fixed;
    top: 0;
    width: calc(100% - 100px);
    /* Se ajusta el ancho restando el ancho del logo */
    height: 80px;
    left: 100px;
    /* Se mueve la barra hacia la izquierda */
    display: flex;
    justify-content: space-between;
    padding: 0 4vw;
    line-height: 80px;
    background: var(--bg-color);
    z-index: 100;
}

.nav_menu_btn {
    display: none;
    /* Por defecto no se muestra en pantallas grandes */

    @media (max-width: 1084px) {
        display: flex;
        align-items: center;
        justify-content: center;
        width: 45px;
        height: 45px;
        background: var(--second-color);
        color: var(--bg-color);
        border-radius: 50%;
        cursor: pointer;

        i {
            font-size: 24px;
            /* Tamaño del ícono de hamburguesa */
        }
    }
}

.nav .right_nav {
    display: flex;
    column-gap: 1.5vw;
}

.nav .link_list {
    display: flex;
}

.nav .list {
    position: relative;
    list-style: none;
    margin: 0 20px;
}

.nav .list .link {
    text-decoration: none;
    font-weight: 500;
    color: var(--black-color);
}

.nav .list .fa-caret-down {
    margin-left: 3px;
    transition: .3s;
}

.nav .list:hover .fa-caret-down {
    transform: rotate(180deg);
}

.nav .list:hover .description_box {
    display: flex;
}

/* ===== DESCRIPTION BOX ===== */
.description_box {
    display: none;
    flex-wrap: wrap;
    gap: 5px;
    position: fixed;
    top: 80px;
    background: #efefff;
    width: 480px;
    /* Aumentar el ancho del cuadro de servicios */


    min-width: 280px;
    line-height: 25px;
    padding: 15px;
    border-radius: 5px;
    box-shadow: 1px 4px 8px 2px rgba(0, 0, 0, 0.2);
    animation: slideUp .3s;
}


.description_box::before {
    content: "";
    position: absolute;
    top: -8px;
    left: 10px;
    width: 16px;
    height: 16px;
    background: #efefff;
    transform: rotate(45deg);
}

@keyframes slideUp {
    from {
        top: 100px;
    }

    to {
        top: 80px;
    }
}

.content-title {
    font-size: 16px;
    font-weight: 600;
    color: var(--medium-dark);
    border-bottom: 1px solid #ddd;
    padding-bottom: 8px;
    margin-bottom: 12px;
}

.skills-label {
    font-size: 14px;
    background: var(--blue-color);
    color: var(--first_color);
    border-radius: 5px;
    padding: 2px 8px;
}

.services_list {
    font-size: 14px;
    /* Se ajusta el tamaño de la fuente */
    padding-inline: 15px;
    margin-top: 8px;

}

.about_box {
    right: 140px;
}

.nav .list:last-child .description_box::before {
    left: 40%;
}

.btn {
    text-decoration: none;
    font-size: 14px;
    background: var(--orange-color);
    color: var(--first_color);
    padding: 8px 16px;
    border-radius: 25px;
    cursor: pointer;
}

.mode {
    display: flex;
    align-items: center;
}

.mode .moon-sun {
    position: relative;
    display: flex;
    align-items: center;
    justify-content: center;
    height: 36px;
    width: 36px;
    background: #f5f5f5;
    border-radius: 50%;
    cursor: pointer;
}

.mode .moon-sun #moon,
.mode .moon-sun #sun {
    position: absolute;
    color: var(--medium-dark);
    transition: .2s ease-in-out;
}

.mode .moon-sun #sun {
    opacity: 0;
}

body.dark .mode .moon-sun #sun {
    opacity: 1;
}

body.dark .mode .moon-sun #moon {
    opacity: 0;
}

/* ===== Responsive - Media Query: 1084px ===== */
@media (max-width: 1084px) {
    .nav .nav_menu.responsive {
        position: fixed;
        left: 0;
    }

    .nav .nav_menu {
        position: fixed;
        left: -100%;
        display: flex;
        align-items: center;
        justify-content: center;
        width: 80%;
        max-width: 500px;
        height: 100%;
        background-color: rgba(211, 211, 211, 0.2);
        backdrop-filter: blur(20px);
        box-shadow: 3px 0px 10px rgba(0, 0, 0, 0.2);
        transition: all .2s ease;
        z-index: 100;

        .link_list {
            flex-direction: column;
        }

        .list:hover .description_box {
            display: none;
        }

        .nav .nav_menu_btn {
            display: flex;
            align-items: center;

            .fa-bars {
                display: flex;
                align-items: center;
                justify-content: center;
                width: 40px;
                height: 40px;
                background: var(--second-color);
                color: var(--bg-color);
                border-radius: 50%;
                cursor: pointer;
            }
        }

        .nav .close-menu {
            display: block;
            position: absolute;
            top: 8px;
            right: 20px;

            i {
                font-size: 18px;
                cursor: pointer;
            }
        }

        .skills-box {
            display: flex;
            flex-wrap: wrap;
            gap: 5px;
        }

        .about_box {
            right: 12px;
            top: 300px;
        }
    }
}

/* ===== Responsive - Media Query: 870px ===== */
@media (max-width: 870px) {
    body {
        overflow: auto;
        overflow-x: hidden;
        width: 100%;
    }

    .nav .nav_logo span {
        font-size: 22px;
    }

    .modal-content {
        width: 90%;
    }
}



* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}



html {
    scroll-behavior: smooth;

    a[href^="#"] {
        text-decoration: none;
        color: $color-black;

        transition: color 0.3s;
    }

    a[href^="#"]:hover {
        color: yellow;

    }

}

body {
    background-color: $color-gray;
    color: $second-color;
    font-family: $font-stack;


}



h1 {
    font-size: 2.5rem;

}

h2 {
    font-size: 2rem;
    font-weight: 400;
    text-align: center;
    color: $primary-color;

}

h4 {
    font-size: 1.5rem;
    font-weight: 400;
}

p {
    font-size: 20 rem;
    margin: 10px 0;
    line-height: 1.9em;
}

a {
    text-decoration: none;
    color: $color-black;
    size: 30px;
}

.container {
    margin: auto;
    max-width: 1300px;
    padding: 0 20px;
    overflow: auto;
}

.large {
    font-size: 18px;
    color: $second-color;
}

.display-1 {
    font-size: 5rem;
    text-transform: uppercase;
    font-weight: 400;
}

.btn {
    display: inline-block;
    text-align: center;
    padding: 12px 23px;
    font-weight: bold;
    letter-spacing: 1px;
    cursor: pointer;
    border-radius: 4px;

    &-color {
        background: $primary-color;
        color: $second-color;
        border: none;
    }
}

form {
    label {
        display: inline-block;
        margin-bottom: 6px;
    }

    .form-group {
        margin-bottom: 16px;
    }

    .form-control {
        width: 100%;
        padding: 7px 12px;
        line-height: 1.5;
        border: none;
        border-radius: 4px;
    }

    button {
        width: 100%;
    }
}

#mainheader {

    background: url('/img/compu.jpg');
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
    background-position: left;

    @media screen and (min-width: $desktop) {
        background-size: 100%;
        height: 100vh;
    }

}

#navbar {
    overflow: auto;
    padding-top: 20px;
    padding-bottom: 20px;

    @media screen and (min-width: $desktop) {
        position: sticky;
        top: 0;
        z-index: 2;
    }

    img {
        width: 7%;
        position: fixed;
        left: 5px;
        /* Ajusta el valor para mover la imagen hacia la izquierda */
        top: 0;
        /* Ajusta la posición vertical si es necesario */
        /* Otros estilos que desees aplicar */
    }

    .container {
        display: flex;

        align-items: center;
        height: 100%;

        @media screen and (min-width: $desktop) {
            justify-content: space-between;
        }

    }

    ul {
        display: flex;
        list-style: none;
        flex-direction: column;





        li {
            margin-left: 40px;

        }

        a {
            font-size: 25px;
            font-weight: 1000;
            color: $primary-color;

            &:hover {
                color: blue;
            }

            @media screen and (min-width: $desktop) {
                color: $primary-color;

            }
        }

        @media screen and (min-width: $desktop) {
            flex-direction: row;
            color: #1d1a1a;


        }
    }
}




span {
    display: block;
    color: $primary-color;
    padding-bottom: 20px;
}

span {
    display: block;
    color: $primary-color;
    padding-bottom: 20px;
}

#showcase .showcase-text {
    display: flex;
    justify-content: space-between; // Alinea los elementos horizontalmente con espacio entre ellos
    align-items: center; // Centra verticalmente los elementos
    margin-top: 8%;
    flex-direction: column;

    
    @media screen and (min-width: $desktop) {
        flex-direction: row;
    }
}

#showcase .showcase-text h1 {
    text-align: left; // Alinea el título a la izquierda
    margin: 0; // Elimina el margen superior
    font-size: 3rem;
    text-transform: uppercase;
    font-weight: 400;
    margin: 0; // Elimina el margen superior para que el título se alinee con la imagen
}


#showcase .showcase-text h3 {
    text-align: right; // Alinea el texto a la derecha
    flex: 1; // Permite que el elemento ocupe el espacio restante en la fila
   

    @media screen and (min-width: $desktop) {
        margin-left: 200px;
        

    }
}

@keyframes fadeInHalf {
    0% {
        width: 0; // Comienza con ancho cero
    }

    50% {
        width: 150px; // Llega a la mitad del ancho deseado
    }

    100% {
        width: 300px; // Alcanza el ancho completo
    }
}

#showcase .showcase-text img {
    width: 300px; // Ajusta el ancho deseado para la imagen
    height: auto; // Mantén la proporción original de la imagen
    border-radius: 20%;
    filter: brightness(50%);
    animation: fadeInHalf 5s ease-in-out forwards; // Aplica la animación y mantiene el estado final


    @media screen and (min-width: $desktop) {
        margin-left: 150px;
    }
}



//#showcase {






#about {
    padding: 20px;
    border-radius: 10px;
    background-color: #f5f5f5;
    box-shadow: 0 0 20px rgba(0, 0, 0, 0.2) inset;
    position: relative;
    overflow: hidden;
    background-image: url('ruta-a-tu-imagen-de-textura.jpg');
    background-size: cover;
}

#about p {
    font-size: 1.5rem;
    margin-bottom: 20px;
}

.btn {
    text-align: center;
    margin-top: 20px;
}

a.btn-link {
    display: inline-block;
    text-decoration: none;
    background: linear-gradient(to right, #4CAF50, #2196F3);
    padding: 10px 20px;
    color: white;
    text-transform: uppercase;
    font-family: sans-serif;
    border-radius: 8px;
    font-size: 18px;
    transition: all .3s ease-in-out;
}

a.btn-link:hover {
    background-position: right center;
    color: white;
}


#features {
    padding: 80px 0;

    .container {
        display: flex;
        flex-direction: column;

        @media screen and (min-width: $desktop) {
            flex-direction: row;
        }

        .features-box {
            flex: 1;
            text-align: center;

            p:first-child {
                font-size: 4rem;
                font-weight: 300;
            }

            p:last-child {
                color: $primary-color;
            }
        }
    }

}

#Projects {
    padding: 40px 0;
    /* Reduce el relleno en dispositivos más pequeños */

    h2 {
        padding-bottom: 30px;
        /* Reduce el espacio entre el título y los elementos en dispositivos más pequeños */
        text-align: center;
        /* Centrar el texto */
    }

    .container {
        display: flex;
        flex-wrap: wrap;
        gap: 20px;
        justify-content: center;
        /* Centrar los elementos */
    }

    .Projects-flex {
        display: flex;
        flex-wrap: wrap;
        justify-content: space-around;
        /* Distribuir espacio entre elementos */
        gap: 20px;
    }

    .Projects-flex-box {
        flex: 0 0 calc(33.33% - 20px);
        /* Ajusta el tamaño de los elementos para dispositivos más pequeños */
        text-align: center;
        position: relative;
        /* Posición relativa para alinear texto sobre la imagen */
        transition: transform 0.3s ease;
        overflow: hidden;
        /* Ocultar desbordamiento de la imagen */
        border-radius: 10px;
        box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
        /* Sombra suave */
        width: 500px;
        /* Tamaño fijo para el contenedor */
        height: 400px;
        /* Tamaño fijo para el contenedor */
    }

    .Projects-flex-box:hover {
        transform: translateY(-5px);
        /* Efecto de elevación al pasar el ratón */
    }

    .Projects-flex-box img {
        width: 100%;
        /* Hace que la imagen ocupe todo el ancho del contenedor */
        height: 100%;
        /* Hace que la imagen ocupe todo el alto del contenedor */
        object-fit: cover;
        /* Ajustar la imagen para cubrir el cuadro */
        border-radius: 10px;
        transition: transform 0.3s ease;
        /* Efecto de transformación */
    }

    .Projects-flex-box:hover img {
        transform: scale(1.05);
        /* Agrandar ligeramente al pasar el ratón */
    }

    .Projects-flex-box a {
        text-decoration: none;
        color: #333;
        font-weight: bold;
        display: block;
        margin-top: 10px;
        position: absolute;
        /* Posicionamiento absoluto para alinear el texto */
        bottom: 10px;
        /* Reduce la distancia entre el borde inferior y el enlace */
        left: 50%;
        transform: translateX(-50%);
        /* Centrar horizontalmente */
        background-color: rgba(255, 255, 255, 0.8);
        /* Fondo semitransparente */
        padding: 5px 10px;
        /* Espaciado interno */
        border-radius: 5px;
        /* Bordes redondeados */
        z-index: 1;
        /* Agregar z-index para asegurarse de que esté por encima de la imagen */
    }

    /* Media query para dispositivos más pequeños */
    @media (max-width: 468px) {
        .Projects-flex-box {
            flex: 0 0 calc(50% - 20px);
            /* Ajusta el tamaño de los elementos para dispositivos más pequeños */
            width: 250px;
            height: 150px;
        }

        .Projects-flex-box img {
            width: 250px;
            /* Hace que la imagen ocupe todo el ancho del contenedor */
            height: 150%;
            /* Hace que la altura de la imagen se ajuste automáticamente para mantener la proporción */
        }
    }

}



$base-font-size: 20px;
$padding-top: 10px;

#Skills {
    padding: $base-font-size;

    h2 {
        padding-bottom: $padding-top;
        /* Estilos adicionales para encabezados */
        font-size: 24px;
        /* Tamaño de fuente personalizado */

    }

    .container {
        display: flex;
        flex-direction: column;
        align-items: center;
    }

    .Skills-flex {
        display: flex;
        flex-wrap: wrap;
        justify-content: space-between;
        align-items: center;

        .Skills-content {
            flex: 1;
            text-align: center;

            ul {
                list-style-type: none;
                padding: 0;
            }

            li {
                margin-bottom: 5px;

            }
        }

        .Skills-images {
            width: 100%;
            display: flex;
            flex-wrap: wrap;
            justify-content: space-between;

            img {
                width: 200px;
                height: 150px;
                margin-bottom: 15px;
                transition: transform 0.3s ease-in-out, box-shadow 0.3s ease-in-out;
                /* Agregar transición */
            }

            img:hover {
                transform: scale(1.1) rotate(360deg);
                /* Escalar y girar la imagen al hacer hover */
                box-shadow: 0px 0px 15px rgba(0, 0, 0, 0.3);
                /* Agregar sombra al hacer hover */
            }

            &>.left-image {
                margin-right: 20px;
                margin-top: -150px;
                /* Mover la imagen hacia arriba */
            }

            &>.right-image {
                margin-left: 20px;
                margin-top: -150px;
                /* Mover la imagen hacia arriba */
            }

            &>.bottom-image {
                width: calc(100% - 80px);
                margin-top: 80px;
            }
        }
    }

    @media (max-width: 768px) {
        .Skills-flex {
            flex-direction: column;

            .Skills-content {
                font-size: 10px;
            }

            .Skills-images {
                width: 100%;

                img {
                    width: 55px;
                    height: 120px;
                    margin-bottom: 0px;
                    margin-top: 0;
                    transition: transform 0.3s ease-in-out, box-shadow 0.3s ease-in-out;
                    /* Agregar transición */
                }

                img:hover {
                    transform: rotate(360deg);
                    /* Escalar y girar la imagen al hacer hover */
                    box-shadow: 0px 0px 15px rgba(0, 0, 0, 0.3);
                    /* Agregar sombra al hacer hover */
                }

                &>.left-image {
                    margin-right: 150px;
                    margin-top: -150px;
                }

                &>.right-image {
                    margin-left: -20px;
                    margin-top: -150px;
                }

                &>.bottom-image {
                    width: calc(100% - 40px);
                    margin-top: 15px;
                }
            }
        }
    }
}







#work {
    padding: 20px;
    border-radius: 10px;
    background-color: #f9f9f9;
    box-shadow: 0 0 20px rgba(0, 0, 0, 0.1);
    position: relative;
    overflow: hidden;
   font-size: 25px;
    background-size: cover;

}

.work-flex {
    display: flex;
    flex-wrap: wrap;
    gap: 20px;
}

.work-box {
    flex: 1;
    padding: 20px;
    background-color: white;
    border-radius: 10px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
}

.work-box img {
    width: 100%;
    border-radius: 10px;
}

.btn {
    display: inline-block;
    padding: 12px 24px;
    font-size: 16px;
    font-weight: bold;
    color: #fff;
    background-color: #464242; /* Gris medio */
    border: none;
    border-radius: 5px;
    cursor: pointer;
    transition: background-color 0.3s ease-in-out;
  }
  
  .btn:hover {
    background-color: #616161; /* Gris oscuro al pasar el ratón */
  }
  

a.btn-link {
    display: inline-block;
    text-decoration: none;
    background: linear-gradient(to right, #4CAF50, #2196F3);
    padding: 10px 20px;
    color: white;
    text-transform: uppercase;
    font-family: sans-serif;
    border-radius: 8px;
    font-size: 18px;
    transition: all .3s ease-in-out;
}

a.btn-link:hover {
    background-position: right center;
    color: white;
}


#Contact {
    padding: 80px 0;
    text-align: center;
  }
  
  #Contact .container {
    max-width: 600px;
    margin: 0 auto;
  }
  
  #Contact h2 {
    margin-bottom: 30px;
  }
  
  #Contact form#form .form-group {
    margin-bottom: 20px;
    text-align: left;
  }
  
  #Contact form#form .form-group label {
    display: block;
    font-weight: bold;
    color: rgb(150, 116, 81);
  }
  
  #Contact form#form input[type="text"] {
    width: 100%;
    padding: 10px;
    border: 1px solid #ccc;
    border-radius: 5px;
    transition: border-color 0.3s ease-in-out;
  }
  
  #Contact form#form input[type="text"]:focus {
    border-color: #007bff;
  }
  
  #Contact form#form input[type="submit"] {
    display: inline-block;
    background-color: #007bff;
    color: white;
    padding: 10px 20px;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    transition: background-color 0.3s ease-in-out;
  }
  
  #Contact form#form input[type="submit"]:hover {
    background-color: #0056b3;
  }
  


#contact {
    padding: $base-font-size;
    color: black;

    h2 {
        padding-bottom: $padding-top;
        color: $primary-color;
    }

    form {
        width: 50%;
        margin: 0 auto;
    }

}
.Start {
    display: flex;
    flex-direction: column;
    justify-content: flex-start; /* Alinea el contenido al inicio */
    align-items: center; /* Centra horizontalmente el contenido */
    height: 70vh; /* Establece la altura de la sección al 70% del viewport */
    margin-top: 40px; /* Ajusta el margen superior */
    margin-bottom: 0px; /* Ajusta el margen inferior */
}

#mainfooter {
    padding: 10px; /* Ajusta el padding según sea necesario */
    text-align: center;
     /* Ajusta el margen superior */
    p{
        color:black;
    }
}

